@import "/mixins.scss";
.article {
    padding: 5rem 20rem;
    background-color: white;
    @include respond (tab-land) {
        padding: 5rem 10rem;
    }
    @media only screen and (max-width: 43.75em) {}
    h1 {
        font-size: 3rem;
        letter-spacing: .5rem;
        margin-bottom: 5rem;
        @include respond(phone) {
            margin-bottom: 2rem;
        }
    }
    @media only screen and (max-width: 43.75em) {
        padding: 2rem 4rem;
    }
    @include respond(phone) {
        padding: 2rem;
    }
    .article-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 7rem;
        @media only screen and (max-width: 43.75em) {
            grid-gap: 4rem;
        }
        @include respond(phone) {
            padding: 2rem;
            grid-gap: 0;
        }
        .div-img {
            display: grid;
            justify-content: flex-start;
            width: 25rem;
            img {
                width: 100%;
            }
            @media only screen and (max-width: 43.75em) {
                width: 15rem;
                align-items: center;
            }
            @include respond(phone) {
                display: none;
            }
        }
        .div-text {
            h2 {
                font-size: 2.4rem;
            }
            font-size: 1.9rem;
            text-align: justify;
            .subtitle {
                margin-bottom: 2rem;
                @include respond(phone) {}
            }
        }
    }
}