// @import '/animations.scss';
// @import '/variables.scss';
.textBox {
    &-container {
        animation: grow 2s cubic-bezier(0.215, 0.610, 0.355, 1);
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
    &-text {
        h1 {
            font-size: 5rem;
            font-weight: 700;
            // background-image: linear-gradient(to right, blue, $color-secondary);
            // display: inline-block;
            // -webkit-background-clip: text;
            // background-clip: text;
            // color: transparent;
        }
        color: #fff;
        text-transform: uppercase;
        font-size: 4rem;
        letter-spacing: .5rem;
        margin-bottom: 2rem;
    }
    &-btn-openContact {
        font-size: 1.6rem;
        padding: 1rem 1rem;
        border: 0;
        transition: all .3s ease;
        transform: translateY(-.3rem);
        &:hover {
            transform: translateY(0);
        }
        &:active,
        &:focus {
            outline: none;
            border: none;
        }
    }
}

@keyframes grow {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(.2);
    }
    // 80% {
    //     transform: translateX(1rem);
    // }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}